h1 {
  color: mediumblue;
}
textarea {
  width: 120px;
  height: 300px;
}

input {
  width: 120px;
  margin-bottom: 3px;
}

button {
  color: blue;
  min-width: 30px;
}

td {
  display: inline-block;
  vertical-align: top;
}
.black {
  color: black;
}

.gray {
  color: gray;
}

.under-head {
  font-weight: bold;
  text-decoration: underline;
  color: mediumblue;
}

.help {
  border: gray solid thin;
  padding: 5px;
  margin-top: 0;
  background-color: aliceblue;
}

#pointer {
  position: absolute;
  width: 120px;
  height: 18px;
  /*left: 0px;*/
  background-color: rgba(200, 200, 200, 0.25);
}
